@-ms-viewport {
  width: device-width;
}
* {box-sizing: border-box;}

/* Entire Page */
body{
  min-height: 100vh;
  box-shadow: 1px 1px 1px black;
  background-color: #364f85;
  display: flex;
  flex-direction: column;
}

main{
  min-height: 100vh;
padding: 0 10px;
  margin: 0px auto;
    background-color: #62bada;
  border: 4px solid #262626;
}

/* navigation and Introduction */
.header-content{
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 1px rgb(2, 2, 2);
  margin-bottom: 10px;
  display: flex;
  
}

.header-one{
  min-height: 5vh;
  width: 100%;
  flex-direction: row;
  background-color:aqua;
  font-size: 1.55vw;
  display: flex;
}
.header-two{
  min-height: 5vh;
  width: 100%;
  flex-direction: row;
  background-color:green;
  display: flex;
}
.header-three{
  min-height: 5vh;
  width: 100%;
  flex-direction: row;
  background-color:red;
  display: flex;
}

/* contains titles and content and puts them into the same row */
.new-section{
  box-shadow: 1px 1px 1px blue;
  display: flex;
}

.about-info{
  font-size: 12px;
}
/* titles for main content displayed left of content*/
.title{
  box-shadow: 1px 1px 1px red;
  flex: 1;
  text-align: right;

}

/*content to right of titles*/
.content{
  box-shadow: 1px 1px 1px yellow;
  flex: 3;
}

.section-row{
  box-shadow: 1px 1px 1px orange;
  display: flex;
}

.section-column{
  box-shadow: 1px 1px 1px blue;
  flex: 2;
}

/* About section */
.footer{
  display: flex;
}

.contact{
  flex: 1;
}

.contact-content{
  flex: 3;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND LARGER */
@media screen and (min-width: 769px) {
  main {
  width:60%;
  }

  header h1 {
    /* this will be applied on any screen greater than 980px */
    font-size: 25px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
 main {
  width:80%;
  }

  header h1 {
    /* this will be applied on any screen between 768px and 575px */
    font-size: 20px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 480px) {
   main {
  width:100%;
  }

  header h1 {
    /* this will be applied on any screen smaller than 575px */
    font-size: 15px;
  }
}
