* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	height: auto;
	font-family: sans-serif;
}

body {
	flex-direction: column;
	background-color: #62bada;
}

main {
	margin: auto;
	width: 80%;
}

img {
	width: 100%;
}

/* navigation and Introduction */
.header-content {
	height: 150px;
	width: 100%;
}

.head {
	height: 33.33%;
	flex-direction: row;
	display: flex;
}

.header-one {
	background-color: aqua;
	font-size: larger;
}
.header-name {
	padding-left: 10px;
}

.header-two {
	background-color: green;
}

.header-three {
	background-color: red;
}

/* contains titles and content and puts them into the same row */
.new-section {
	display: flex;
	margin: 20px auto;
}

/* titles for main content displayed left of content*/
.title {
	border-right: solid #364f85;
	text-align: right;
	font-size: larger;
	padding-right: 10px;
	flex-direction: column;
	width: 10%;
}

.about-info {
	font-size: 12px;
}

/*content to right of titles*/
.content {
	margin-left: 10px;
	width: 90%;
}
img{
border-radius: 5px;
}

.project-link {
	display: flex;
}

.project-link:hover {
	opacity: 0.8;
}

.section-row {
	display: flex;
	width: 100%;
	margin-top: 10px;
}

.section-column {
	flex: 2;
}

.right-column {
	flex-direction: column;
	margin-left: 10px;
}

.contact {
	display: flex;
	background-color: green;
	height: 70px;
}

.contact-content {
	display: flex;
	flex: 3;
	background-color: white;
}

@media screen and (max-width: 1440px) {
	main {
		width: 65%;
	}
}
